* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
}
body {
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 400;
}

section {
    padding: 8.5em 1em;
}
/*EMPIEZA EL HEADER*/

header {
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    min-height: 4rem;
}
.container__header {
    max-width: 120rem;
    height: 100%;
    margin: auto;
    padding: 4rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 10rem;
}
.nombre-empresa {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nombre-empresa:hover {
  -webkit-animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
}

@keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0rem 1rem;
}
.menu nav ul li a{
    font-size: 1.2rem; 
    text-decoration: none;
    font-weight: 600;
}

.menu nav ul li a:hover {
    color: rgb(33, 225, 216);
}

  /*TERMINA EL HEADER*/
  
  /*EMPIEZA EL MAIN*/

.contacto .container {
    flex-direction: column;
    align-items: flex-start;
}
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto h1 {
    color: #5197ff;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contacto form input:not([type="radio"]):not([type="checkbox"]),
.contacto form textarea,
.contacto form select {
    width: 100%;
    padding: 0,3rem;
}

.contacto form input:not([type="radio"]):not([type="checkbox"]):focus,
.contacto form textarea:focus,
.contacto form select:focus {
    outline-color: #8d90f0;
}

.contacto form fieldset {
    margin: 1rem 0;
    border-color: #fff;
}

.contacto form textarea {
    resize: none;
    height: 20rem;
}

.contacto form label {
    margin: 0.5rem 0 0.2rem;
    display: inline-block;
}


.conctato a:any-link,
.conctato p {
    color: #575757;
    
}
.align-row {
    display: flex;
    justify-content: space-between;
}
.imagensubmit {
    height: 3em;
    width: 5em;
    color: #5b5b5b;
    font-family: 'Varela Round', sans-serif;
}
button {
    font-family: inherit;
    font-size: 20px;
    background: rgb(131, 154, 221);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}
   
button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
   
button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
   
button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
   
button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
   
button:hover span {
    transform: translateX(5em);
}
   
button:active {
    transform: scale(0.95);
}
   
@keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
}


  /*TERMINA EL MAIN*/

  /*EMPIEZA EL FOOTER*/

.container__footer {
    background-image: linear-gradient(to left, #00ecc7, #00e4ff, #59d3ff, #b6bdff, #e3acde);
    padding: 2rem;
}
.info {
    padding: 2rem;
}
.logo-icon img {
    width: 20vh;
    margin: 2em;
}
.mapa {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    max-width: 100%;
    margin: 2rem;
}


/*TERMINA EL FOOTER*/


@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}