* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
}
body {
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 400;
}

section {
    padding: 8.5em 1em;
}

/*EMPIEZA EL HEADER*/

header {
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    min-height: 4rem;
}
.container__header {
    max-width: 120rem;
    height: 100%;
    margin: auto;
    padding: 4rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 10rem;
}
.nombre-empresa {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nombre-empresa:hover {
  -webkit-animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
}

@keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0rem 1rem;
}
.menu nav ul li a{
    font-size: 1.2rem; 
    text-decoration: none;
    font-weight: 600;
}

.menu nav ul li a:hover {
    color: rgb(33, 225, 216);
}

  /*TERMINA EL HEADER*/
  
  /*EMPIEZA EL MAIN*/

main {
    max-width: 120rem;
    padding: 3rem;
    margin: auto;
}
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios .items .foto {
    width: 100%;
    height: 200px;
    background-color: #fff;
}
.team .container {
    flex-direction: column;
    align-items: flex-start;
}

.servicios-lista .container {
    flex-direction: column;
}

.servicios-lista h1 {
    color: #FFBE51;
    font-size: 6rem;
    margin-bottom: 2rem;
}
.servicios-lista article {
    display: flex;
    align-items: flex-start;
    padding: 50px;
    width: 100%;
    border-bottom: 1px solid #555;
}
.servicios-lista .foto {
    max-width: 100%;
    width: 250px;
    height: 250px;
    background-color: #555;
    margin: 0 30px 30px;
    box-shadow: 4px 2px 8px 1px #000;
}
.servicios-lista .info {
    padding: 0 30px;
    width: 800px;
    max-width: 100%;
}
.servicios-lista .info h2 {
    margin-top: 0;
}

   /*TERMINA EL MAIN*/
 /*EMPIEZA EL FOOTER*/

.container__footer {
    background-image: linear-gradient(to left, #00ecc7, #00e4ff, #59d3ff, #b6bdff, #e3acde);
    padding: 2rem;
}
.info {
    padding: 2rem;
}
.logo-icon img {
    width: 20vh;
    margin: 2em;
}
.mapa {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    max-width: 100%;
    margin: 2rem;
}

/*TERMINA EL FOOTER*/


@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}