* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
}
body {
    background-color: #ffffff;
}

/*EMPIEZA EL HEADER*/

header {
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    min-height: 4rem;
}
.container__header {
    max-width: 120rem;
    height: 100%;
    margin: auto;
    padding: 4rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 10rem;
}
.nombre-empresa {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
    background-clip: border-box;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nombre-empresa:hover {
  -webkit-animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
}

@keyframes GradientAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0rem 1rem;
}
.menu nav ul li a{
    font-size: 1.2rem; 
    text-decoration: none;
    font-weight: 600;
}

.menu nav ul li a:hover {
    color: rgb(33, 225, 216);
}

  /*TERMINA EL HEADER*/
  
  /*EMPIEZA EL MAIN*/

main {
    max-width: 120rem;
    padding: 3rem;
    margin: auto;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.banner p {
    width: 50%;
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-left: 8rem;
    font-weight: 1000;
}
.banner__img img {
    width: 70%;
    margin: 2rem;
    margin-left: 14rem;
    padding: 0.3rem;
    border-radius: 25px;
    box-shadow: 3px 3px 9px 0px #000;
}


.servicios {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    max-width: 120rem;    
}
.servicios .container h2 {
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Fredoka One', sans-serif;
    font-size: 3em;
    font-weight: 700;  
}
.servicios .container {
    flex-direction: column;
}
.servicios .items {
    width: 30rem;
    margin: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
.servicios .imagen {
    width: 55vh;
     margin: 2vh;
} 
.servicios .text__servicios {
    text-transform: none;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}
.servicios .items h4 {
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}


.titulo h2 {
    margin: 3rem;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Fredoka One', sans-serif;
    font-size: 3em;
    font-weight: 700;   
}
.titulo h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
    padding: 2rem;
}

.carrusel {
    width: 50rem;
    height: 40rem;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros {
    padding: 6rem 0;
}
.container__nosotros {
    font-size: 1em;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container__nosotros .imagenilustracion {
    width: 25rem;
    height: 23rem;
}
.nosotros .text {
    padding: 3rem;
    width: 40rem;
    max-width: 100%;
}
.nosotros .text p {
    font-weight: 300;
    margin: 0;
    padding-top: 0.5rem;
}
.nosotros__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 45rem;
}


  /*TERMINA EL MAIN*/

  /*EMPIEZA EL FOOTER*/

.container__footer {
    background-image: linear-gradient(to left, #00ecc7, #00e4ff, #59d3ff, #b6bdff, #e3acde);
    padding: 2rem;
}
.info {
    padding: 2rem;
}
.logo-icon img {
    width: 20vh;
    margin: 2em;
}
.mapa {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    max-width: 100%;
    margin: 2rem;
}


/*TERMINA EL FOOTER*/



.servicios .items .thumb {
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 400;
}

section {
    padding: 8.5em 1em;
}

.btn,
a.btn {
    display: inline-block;
    padding: 0.8em 1.5em;
    text-decoration: none;
    border: 1px solid #555;
    color: #555;
    font-size: 1em;
    font-weight: 800;
}

.btn.btn-primary,
a.btn.btn-primary {
    background-image: linear-gradient(to right, #ff9d00, #ffb500, #ffce00, #ffe600, #f7ff00);
    border-color: #FFBE51;
    color: rgb(0, 0, 0);
    
}

.align-row {
    display: flex;
    justify-content: space-between;
}
.imagensubmit {
    height: 3em;
    width: 5em;
    color: #5b5b5b;
    font-family: 'Varela Round', sans-serif;
}

button {
    font-family: inherit;
    font-size: 20px;
    background: rgb(131, 154, 221);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}
   
button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
   
button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
   
button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
   
button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
   
button:hover span {
    transform: translateX(5em);
}
   
button:active {
    transform: scale(0.95);
}
   
@keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
}

section.team .container {
    flex-direction: column;
    align-items: flex-start;
}

section.servicios-lista .container {
    flex-direction: column;
}

section.servicios-lista h1 {
    color: #FFBE51;
    font-size: 40px;
    margin-bottom: 70px;
}

section.servicios-lista article {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 50px;
    width: 100%;
    border-bottom: 1px solid #555;
}

section.servicios-lista article .thumb {
    max-width: 100%;
    width: 250px;
    height: 250px;
    background-color: #555;
    margin: 0 30px 30px;
    box-shadow: 4px 2px 8px 1px #000;
}

section.servicios-lista article .info {
    padding: 0 30px;
    width: 800px;
    max-width: 100%;
}

section.servicios-lista article .info h2 {
    margin-top: 0;
}


section.contacto .container {
    flex-direction: column;
    align-items: flex-start;
}

section.contacto h1 {
    color: #FFBE51;
    font-size: 40px;
    margin-bottom: 70px;
}

.contacto form input:not([type="radio"]):not([type="checkbox"]),
.contacto form textarea,
.contacto form select {
    width: 100%;
    padding: 5px;
}

.contacto form input:not([type="radio"]):not([type="checkbox"]):focus,
.contacto form textarea:focus,
.contacto form select:focus {
    outline-color: #00796B;
}

.contacto form fieldset {
    margin: 15px 0;
    border-color: #fff;
}

.contacto form textarea {
    resize: none;
    height: 300px;
}

.contacto form label {
    margin: 10px 0 5px;
    display: inline-block;
}

.contacto .info {
    padding: 15px 30px;
}

.contacto .info {
    max-width: 100%;
    width: 700px;
    height: 300px;
}

section.conctato a:any-link,
section.conctato p {
    color: #575757;
}


@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}